html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background: url('https://raw.githubusercontent.com/ninabeanj/unravelling-zines/main/halftonebgtexture.png') repeat,
  linear-gradient(60deg, #397e58, #5ec8e5); /* grass green and aqua*/
  background-size: cover; 
  background-repeat: no-repeat; 
}

@font-face {
    font-family: 'bean_classicregular';
    src: url('beanclassic-regular-webfont.woff2') format('woff2'),
         url('beanclassic-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1 {
  margin: 0;
  padding: 0;
  font-family: 'bean_classicregular', sans-serif;
  font-weight:normal;
  font-style:normal;
}

h2, h3, h4, h5, h6, p, ul, li, i, strong {
  margin: 0;
  padding: 0;
  font-family: courier, monospace;
  color: var(--header-text);
}

:root {
  --primary-color: #e3ed55; /* riso lime*/
  --secondary-color: #ff7477; /* orange fluo riso */
  --header-background: #F7F3E7; /* Light cream */
  --header-text: #333333; /* Dark gray */
  --nav-box-bg: #e3ed55; /* Same as primary color */
  --nav-link-color: #FFFFFF; /* White */
  --nav-link-hover: #e3ed55; /* Same as primary color */
  --nav-box-border: #f6a04d; /* riso apricot*/
}

.header {
  display: flex;
  align-items: center;
  background-color: var(--header-background);
  color: var(--header-text);
  padding: 20px 40px;
}

.container {
  display: flex;
  width: 100%;
}

.sidebar {
  width: 20%; /* Sidebar takes up 20% of the container */
  height: 100vh; /* Adjust height to fill the viewport */
  overflow-y: auto;
  background-color: transparent; 
  position: fixed;
  top: 5%;
  left: 5%;
}

.header-box {
  padding: 20px;
  text-align: center;
  background-color: var(--nav-box-bg);
  border: 2px solid var(--nav-box-border);
  border-radius: 20px;
  margin-bottom: 3%;
}

.header-box h1 {
  margin: 0;
  color: var(--header-text);
}

.nav-container {
  padding: 20px;
  border: 2px solid var(--nav-box-border);
  background-color: var(--nav-box-bg); 
  border-radius: 20px; 
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  margin-bottom: 10px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

nav ul li a:hover {
  text-decoration: underline;
  color: var(--secondary-color);
}

/* Main content styles */
.main-content {
  width: 60%;
  margin-top: 2%;
  margin-left: 30%;
  margin-right: 5%;
  padding: 20px;
}

/* Posts section */
.posts-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Forces two columns */
  gap: 20px;
}

/* Post styles */
.post {
  position: relative;
  background-color: var(--nav-box-bg);
  border: 1px solid var(--nav-box-border);
  color: var(--header-text);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.post-content {
  padding: 20px;
}

/* Hover effect */
.post:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: var(--secondary-color);
}
