html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background: url('file:///Users/ninajacobson/Desktop/digital%20object/halftonebgtexture.png') repeat,
  linear-gradient(140deg, #67b346, #235ba8); /* kelly and lake */
  background-size: cover;
  background-repeat: no-repeat; 
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

@font-face {
    font-family: 'bean_classicregular';
    src: url('beanclassic-regular-webfont.woff2') format('woff2'),
         url('beanclassic-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1 {
  margin: 0;
  padding: 0;
  font-family: 'bean_classicregular', sans-serif;
  font-weight:normal;
  font-style:normal;
}

h2, h3, h4, h5, h6, p, ul, li, i, strong {
  margin: 0;
  padding: 0;
  font-family: courier, monospace;
  color: var(--header-text);
}

:root {
  --primary-color: #e6b5c9; /* riso mauve */
  --secondary-color: #e3ed55; /* lime */
  --header-background: #F7F3E7; /* Light cream */
  --header-text: #333333; /* Dark gray */
  --nav-box-bg: #e6b5c9; /* Same as primary color */
  --nav-link-color: #FFFFFF; /* White */
  --nav-link-hover: #e6b5c9; /* Same as primary color */
  --nav-box-border: #397e58; /* riso grass green */
}

.header {
  display: flex;
  align-items: center;
  background-color: var(--header-background);
  color: var(--header-text);
  padding: 20px 40px;
}

.container {
  display: flex;
  width: 100%;
}

.sidebar {
  width: 20%;
  height: 100vh;
  overflow-y: auto;
  background-color: transparent;
  position: fixed;
  top: 5%;
  left: 5%;
}

.header-box {
  padding: 20px;
  text-align: center;
  background-color: var(--nav-box-bg);
  border: 2px solid var(--nav-box-border);
  border-radius: 20px;
  margin-bottom: 3%;
}

.header-box h1 {
  margin: 0;
  padding: 0;
  font-family: 'bean_classicregular', Arial, sans-serif;
  color: var(--header-text);
}

.nav-container {
  padding: 20px;
  border: 2px solid var(--nav-box-border);
  background-color: var(--nav-box-bg);
  border-radius: 20px;
}

/* Navigation styles */
nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  margin-bottom: 10px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

nav ul li a:hover {
  text-decoration: underline;
  color: white;
}

/* Main content styles for the timeline */
.main-content {
  width: 60%;
  margin-top: 2%;
  margin-left: 30%;
  margin-right: 10%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: center;
}

/* Timeline */
.timeline {
  position: relative;
  width: 100%;
  min-height: 2000px;
}

/* Timeline event styles */
.timeline-event {
  position: relative;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Line between events */
.timeline-event:not(:last-child)::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 100%;
  width: 2px;
  height: calc(100% + 50px);
  background: repeating-linear-gradient(
    to bottom,
    var(--secondary-color),
    var(--secondary-color) 4px,
    transparent 4px,
    transparent 8px
  );
  transform: translateX(-50%);
  z-index: 0;
}

/* Circle */
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  min-height: 300px;
  border-radius: 50%;
  background-color: var(--nav-box-bg);
  border: 2px solid var(--secondary-color);
  text-align: center;
  padding: 10px;
  transition: all 0.5s ease;
  overflow: auto;
  z-index: 1;
}

/* Content inside the circle */
.circle-content h3,
.circle-content p {
  color: black;
  margin: 0;
}

/* Expanded content */
.expanded-content {
  display: none;
  width: calc(100% - 20px);
  max-width: 600px;
  border-radius: 8px;
  background-color: var(--nav-box-bg);
  border: 2px solid var(--secondary-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
  transition: all 0.5s ease;
  overflow: hidden;
  opacity: 0;
}

.expanded-content-image {
  width: 50%;
  float: left;
  padding: 10px;
}

.expanded-content-image img {
  width: 100%;
  height: auto;
}

.expanded-content-text {
  width: 50%;
  float: left;
  padding: 10px;
}

.expanded-content-text h3,
.expanded-content-text p {
  margin: 0;
}

/* Hover effect */
.timeline-event:hover .circle {
  transform: scale(0);
  opacity: 0;
}

.timeline-event:hover .expanded-content {
  display: block;
  height: auto;
  opacity: 1;
  z-index: 2; /* Bring the expanded content above other elements */
}
